#newsIndex
  .screenSize
    - categories.each do |category|
      .newsColumn
        %ul
          %li
            %h1
              = link_to category.description, category_path(id: category), class: 'linkTitle'

          - category.feed.take(6).each do |feed|
            %li
              %h3
                = link_to feed.title.truncate(20), category_item_path(id: category,feed: feed.slug), title: feed.title, class: 'linkItem'
          %li
            %h5
              = link_to 'Mais', category_path(id: category), class: 'newsMore'

    .linkPublicity
      :javascript
        google_ad_client = "ca-pub-2426498620141581";
        /* news */
        google_ad_slot = "4177007150";
        google_ad_width = 728;
        google_ad_height = 90;
      %script{src: "http://pagead2.googlesyndication.com/pagead/show_ads.js"}