#publicityIndex
  .screenSize
    =link_to image_tag('/assets/publicity1.jpg'), root_path, class: 'publicity'
    %p.textFeed
      Feeds dos principais
    %p.textBrazil
      portais do brasil...
    %p.textNews
      Informação e notícia...
    %p.textAre
      São... Podem... Fazem...
    %p.textUpdate
      Atualize, torça, prepare, saiba, divirta!