- title 'FeedNEWS'

#index
  = render 'world', feeds: @feedsWorld, news: @newsWorld
  = render 'publicity'
  = render 'news', categories: @categories, categoryFeeds: @categoryFeeds
  = render 'latest', news: @news