#footer
  //+box-shadow(#0f4fff 0px -2px 2px 1px)
  background-image: url(/assets/bg01.jpg)
  clear: both
  height: 35px
  margin-top: 10px

  .copyright
    color: #fff
    display: block
    font-weight: bold
    left: 15px
    position: relative
    top: 12px
