#header
  background-image: url(/assets/bg01.jpg)
  clear: both
  height: 152px

  h1
    background-image: url(/assets/feednews.png)
    top: 25px

  .logo
    display: block
    float: left
    height: 88px
    position: relative
    width: 250px

  .publicity
    display: block
    float: left
    left: 10px
    position: relative
    top: 22px

  .linkMenu
    +box-shadow(inset 0px 0px 20px 7px rgba(255, 122, 0, 0.5))
    +text-shadow(1px 1px 1px #000)
    color: #fff
    float: left
    font-size: 18px
    font-weight: bold
    padding: 8px 14px 8px 10px
    text-decoration: none

  ul, li
    float: left

  ul
    background-color: #E84700
    left: 1px
    position: relative
    top: 40px

  li
    display: block
    position: relative
    a:hover
      background-color: #fff
      color: #006F93

  .selected
    background-color: #fff
    color: #006F93