#header
  background-image: url(/assets/header.jpg)
  clear: both
  height: 153px
  margin-bottom: 30px

  h1
    background-image: url(/assets/logo.png)
    top: 40px

  .logo
    display: block
    float: left
    height: 50px
    position: relative
    width: 210px

  .publicity
    display: block
    float: left
    left: 54px
    position: relative
    top: 22px

    visibility: hidden

  .linkMenu
    background-color: #0404b0
    color: #fff
    float: left
    font-size: 18px
    font-weight: bold
    padding: 8px 14px 8px 10px
    text-decoration: none

  .menuDivider
    background-image: url(/assets/divider.png)
    background-repeat: no-repeat
    background-position: right

  ul, li
    float: left

  ul
    +box-shadow(#fff 0px 0px 2px 1px)
    top: 40px
    left: 1px
    position: relative

  li
    display: block
    position: relative
    a:hover
      +box-shadow(#0404b0 0px 0px 3px 1px)
      background-color: #fff
      color: #0404b0

  .selected
    +box-shadow(#0404b0 0px 0px 3px 1px)
    background-color: #fff
    color: #0404b0
