#footer
  .screenSize
    %span.copyright © Copyright 2013 FeedNEWS.
    %ul
      %li
        .fb-follow{data: {href: 'https://www.facebook.com/feednews.noticias', :'show-faces' => 'false', colorscheme: 'dark', width: '270'}}
      %li
        .g-plus{data: {width: '270', height: '69', href: '//plus.google.com/110891446348546443629', rel: 'publisher'}}